// Browns

// Cornsilk
$base-color-cornsilk: #fff8dc;

// Blanched Almond
$base-color-blanched-almond: #ffebcd;

// Bisque
$base-color-bisque: #ffe4c4;

// Navajo White
$base-color-navajo-white: #ffdead;

// Wheat
$base-color-wheat: #f5deb3;

// Burly Wood
$base-color-burly-wood: #deb887;

// Tan
$base-color-tan: #d2b48c;

// Rosy Brown
$base-color-rosy-brown: #bc8f8f;

// Sandy Brown
$base-color-sandy-brown: #f4a460;

// Goldenrod
$base-color-goldenrod: #daa520;

// Dark Goldenrod
$base-color-dark-goldenrod: #b8860b;

// Peru
$base-color-peru: #cd853f;

// Chocolate
$base-color-chocolate: #d2691e;

// Saddle Brown
$base-color-saddle-brown: #8b4513;

// Sienna
$base-color-sienna: #a0522d;

// Brown
$base-color-brown: #a52a2a;

// Maroon
$base-color-maroon: #800000;
