// Greens

// Green Yellow
$base-color-green-yellow: #adff2f;

// Chartreuse
$base-color-chartreuse: #7fff00;

// Lawn Green
$base-color-lawn-green: #7cfc00;

// Lime
$base-color-lime: #0f0;

// Lime Green
$base-color-lime-green: #32cd32;

// Pale Green
$base-color-pale-green: #98fb98;

// Light Green
$base-color-light-green: #90ee90;

// Medium Spring Green
$base-color-medium-spring-green: #00fa9a;

// Spring Green
$base-color-spring-green: #00ff7f;

// Medium Sea Green
$base-color-medium-sea-green: #3cb371;

// Sea Green
$base-color-sea-green: #2e8b57;

// Forest Green
$base-color-forest-green: #228b22;

// Green
$base-color-green: #008000;

// Dark Green
$base-color-dark-green: #006400;

// Yellow Green
$base-color-yellow-green: #9acd32;

// Olive Drab
$base-color-olive-drab: #6b8e23;

// Olive
$base-color-olive: #808000;

// Dark Olive Green
$base-color-dark-olive-green: #556b2f;

// Medium Aquamarine
$base-color-medium-aquamarine: #66cdaa;

// Dark Sea Green
$base-color-dark-sea-green: #8fbc8f;

// Light Sea Green
$base-color-light-sea-green: #20b2aa;

// Dark Cyan
$base-color-dark-cyan: #008b8b;

// Teal
$base-color-teal: #008080;
