// Pinks

// Pink
$base-color-pink: #FFC0CB;

// Light Pink
$base-color-light-pink: #FFB6C1;

// Hot Pink
$base-color-hot-pink: #FF69B4;

// Deep Pink
$base-color-deep-pink: #FF1493;

// Medium Violet Red
$base-color-medium-violet-red: #C71585;

// Pale Violet Red
$base-color-pale-violet-red: #DB7093;
