// Blues/Cyans

// Aqua
$base-color-aqua: #00FFFF;

// Cyan
$base-color-cyan: #00FFFF;

// Light Cyan
$base-color-light-cyan: #E0FFFF;

// Pale Turquoise
$base-color-pale-turquoise: #AFEEEE;

// Aquamarine
$base-color-aquamarina: #7FFFD4;

// Turquoise
$base-color-turquoise: #40E0D0;

// Medium Turquoise
$base-color-medium-turquoise: #48D1CC;

// Dark Turquoise
$base-color-dark-turquoise: #00CED1;

// Cadet Blue
$base-color-cadet-blue: #5F9EA0;

// Steel Blue
$base-color-steel-blue: #4682B4;

// Light Steel Blue
$base-color-light-steel-blue: #B0C4DE;

// Powder Blue
$base-color-powder-blue: #B0E0E6;

// Light Blue
$base-color-light-blue: #ADD8E6;

// Sky Blue
$base-color-sky-blue: #87CEEB;

// Light Sky Blue
$base-color-light-sky-blue: #87CEFA;

// Deep Sky Blue
$base-color-deep-sky-blue: #00BFFF;

// Dodger Blue
$base-color-dodger-blue: #1E90FF;

// Cornflower Blue
$base-color-cornflower-blue: #6495ED;

// Royal Blue
$base-color-royal-blue: #4169E1;

// Blue
$base-color-blue: #0000FF;

// Medium Blue
$base-color-medium-blue: #0000CD;

// Dark Blue
$base-color-dark-blue: #00008B;

// Navy
$base-color-navy: #000080;

// Midnight Blue
$base-color-midnight-blue: #191970;
