// Greens

// Green Yellow
$base-color-green-yellow: #ADFF2F;

// Chartreuse
$base-color-chartreuse: #7FFF00;

// Lawn Green
$base-color-lawn-green: #7CFC00;

// Lime
$base-color-lime: #00FF00;

// Lime Green
$base-color-lime-green: #32CD32;

// Pale Green
$base-color-pale-green: #98FB98;

// Light Green
$base-color-light-green: #90EE90;

// Medium Spring Green
$base-color-medium-spring-green: #00FA9A;

// Spring Green
$base-color-spring-green: #00FF7F;

// Medium Sea Green
$base-color-medium-sea-green: #3CB371;

// Sea Green
$base-color-sea-green: #2E8B57;

// Forest Green
$base-color-forest-green: #228B22;

// Green
$base-color-green: #008000;

// Dark Green
$base-color-dark-green: #006400;

// Yellow Green
$base-color-yellow-green: #9ACD32;

// Olive Drab
$base-color-olive-drab: #6B8E23;

// Olive
$base-color-olive: #808000;

// Dark Olive Green
$base-color-dark-olive-green: #556B2F;

// Medium Aquamarine
$base-color-medium-aquamarine: #66CDAA;

// Dark Sea Green
$base-color-dark-sea-green: #8FBC8F;

// Light Sea Green
$base-color-light-sea-green: #20B2AA;

// Dark Cyan
$base-color-dark-cyan: #008B8B;

// Teal
$base-color-teal: #008080;
