// Purples

// Levander
$base-color-levander: #e6e6fa;

// Thistle
$base-color-thistle: #d8bfd8;

// Plum
$base-color-plum: #dda0dd;

// Violet
$base-color-violet: #ee82ee;

// Orchid
$base-color-orchid: #da70d6;

// Fuchsia
$base-color-fuchsia: #f0f;

// Magenta
$base-color-magenta: #f0f;

// Medium Orchid
$base-color-medium-orchid: #ba55d3;

// Medium Purple
$base-color-medium-purple: #9370db;

// Blue Violet
$base-color-blue-violet: #8a2be2;

// Dark Violet
$base-color-dark-violet: #9400d3;

// Dark Orchid
$base-color-dark-orchid: #9932cc;

// Dark Magenta
$base-color-dark-magenta: #8b008b;

// Purple
$base-color-purple: #800080;

// Rebecca Purple
$base-color-rebecca-purple: #639;

// Indigo
$base-color-indigo: #4b0082;

// Medium State Blue
$base-color-medium-state-blue: #7b68ee;

// State Blue
$base-color-state-blue: #6a5acd;

// Dark State Blue
$base-color-dark-state-blue: #483d8b;
