// Whites

// White
$base-color-white: #FFFFFF;

// Snow
$base-color-snow: #FFFAFA;

// Honeydew
$base-color-honeydew: #F0FFF0;

// Mint Cream
$base-color-mint-cream: #F5FFFA;

// Azure
$base-color-azure: #F0FFFF;

// Alice Blue
$base-color-alice-blue: #F0F8FF;

// Ghost White
$base-color-ghost-white: #F8F8FF;

// White Smoke
$base-color-white-smoke: #F5F5F5;

// Seashell
$base-color-seashell: #FFF5EE;

// Beige
$base-color-beige: #F5F5DC;

// Old Lace
$base-color-old-lace: #FDF5E6;

// Floral White
$base-color-floral-white: #FFFAF0;

// Ivory
$base-color-ivory: #FFFFF0;

// Antique White
$base-color-antique-white: #FAEBD7;

// Linen
$base-color-linen: #FAF0E6;

// Lavender Brush
$base-color-lavender-brush: #FFF0F5;

// Misty Rose
$base-color-misty-rose: #FFE4E1;
