// Greys

// Grainsboro
$base-color-grainsboro: #DCDCDC;

// Light Gray
$base-color-light-gray: #D3D3D3;

// Light Grey
$base-color-light-grey: #D3D3D3;

// Silver
$base-color-silver: #C0C0C0;

// Dark Gray
$base-color-dark-gray: #A9A9A9;

// Dark Grey
$base-color-dark-grey: #A9A9A9;

// Gray
$base-color-gray: #808080;

// Grey
$base-color-grey: #808080;

// Light Slate Gray
$base-color-light-slate-gray: #778899;

// Light Slate Grey
$base-color-light-slate-grey: #778899;

// Slate Gray
$base-color-slate-gray: #708090;

// Slate Grey
$base-color-slate-grey: #708090;

// Dark Slate Gray
$base-color-dark-slate-gray: #2F4F4F;

// Dark Slate Grey
$base-color-dark-slate-grey: #2F4F4F;

// Black
$base-color-black: #000000;
