// Pinks

// Pink
$base-color-pink: #ffc0cb;

// Light Pink
$base-color-light-pink: #ffb6c1;

// Hot Pink
$base-color-hot-pink: #ff69b4;

// Deep Pink
$base-color-deep-pink: #ff1493;

// Medium Violet Red
$base-color-medium-violet-red: #c71585;

// Pale Violet Red
$base-color-pale-violet-red: #db7093;
