// Reds

// Indian Red
$base-color-indian-red: #cd5c5c;

// Light Coral
$base-color-light-coral: #f08080;

// Salmon
$base-color-salmon: #fa8072;

// Dark Salmon
$base-color-dark-salmon: #e9967a;

// Light Salmon
$base-color-light-salmon: #ffa07a;

// Crimson
$base-color-crimson: #dc143c;

// Red
$base-color-red: #f00;

// Fire Brick
$base-color-fire-brick: #b22222;

// Dark Red
$base-color-dark-red: #8b0000;
