// Yellows

// Gold
$base-color-gold: #ffd700;

// Yellow
$base-color-yellow: #ff0;

// Light Yellow
$base-color-light-yellow: #ffffe0;

// Lemon Chiffon
$base-color-lemon-chiffon: #fffacd;

// Light Goldenrod Yellow
$base-color-light-goldenrod-yellow: #fafad2;

// Papaya Whip
$base-color-papaya-whip: #ffefd5;

// Moccasin
$base-color-moccasin: #ffe4b5;

// Peach Puff
$base-color-peach-puff: #ffdab9;

// Pale Goldenrod
$base-color-pale-goldenrod: #eee8aa;

// Khaki
$base-color-khaki: #f0e68c;

// Dark Khaki
$base-color-dark-khaki: #bdb76b;
