// Blues/Cyans

// Aqua
$base-color-aqua: #0ff;

// Cyan
$base-color-cyan: #0ff;

// Light Cyan
$base-color-light-cyan: #e0ffff;

// Pale Turquoise
$base-color-pale-turquoise: #afeeee;

// Aquamarine
$base-color-aquamarina: #7fffd4;

// Turquoise
$base-color-turquoise: #40e0d0;

// Medium Turquoise
$base-color-medium-turquoise: #48d1cc;

// Dark Turquoise
$base-color-dark-turquoise: #00ced1;

// Cadet Blue
$base-color-cadet-blue: #5f9ea0;

// Steel Blue
$base-color-steel-blue: #4682b4;

// Light Steel Blue
$base-color-light-steel-blue: #b0c4de;

// Powder Blue
$base-color-powder-blue: #b0e0e6;

// Light Blue
$base-color-light-blue: #add8e6;

// Sky Blue
$base-color-sky-blue: #87ceeb;

// Light Sky Blue
$base-color-light-sky-blue: #87cefa;

// Deep Sky Blue
$base-color-deep-sky-blue: #00bfff;

// Dodger Blue
$base-color-dodger-blue: #1e90ff;

// Cornflower Blue
$base-color-cornflower-blue: #6495ed;

// Royal Blue
$base-color-royal-blue: #4169e1;

// Blue
$base-color-blue: #00f;

// Medium Blue
$base-color-medium-blue: #0000cd;

// Dark Blue
$base-color-dark-blue: #00008b;

// Navy
$base-color-navy: #000080;

// Midnight Blue
$base-color-midnight-blue: #191970;
