// Yellows

// Gold
$base-color-gold: #FFD700;

// Yellow
$base-color-yellow: #FFFF00;

// Light Yellow
$base-color-light-yellow: #FFFFE0;

// Lemon Chiffon
$base-color-lemon-chiffon: #FFFACD;

// Light Goldenrod Yellow
$base-color-light-goldenrod-yellow: #FAFAD2;

// Papaya Whip
$base-color-papaya-whip: #FFEFD5;

// Moccasin
$base-color-moccasin: #FFE4B5;

// Peach Puff
$base-color-peach-puff: #FFDAB9;

// Pale Goldenrod
$base-color-pale-goldenrod: #EEE8AA;

// Khaki
$base-color-khaki: #F0E68C;

// Dark Khaki
$base-color-dark-khaki: #BDB76B;
