// Purples

// Levander
$base-color-levander: #E6E6FA;

// Thistle
$base-color-thistle: #D8BFD8;

// Plum
$base-color-plum: #DDA0DD;

// Violet
$base-color-violet: #EE82EE;

// Orchid
$base-color-orchid: #DA70D6;

// Fuchsia
$base-color-fuchsia: #FF00FF;

// Magenta
$base-color-magenta: #FF00FF;

// Medium Orchid
$base-color-medium-orchid: #BA55D3;

// Medium Purple
$base-color-medium-purple: #9370DB;

// Blue Violet
$base-color-blue-violet: #8A2BE2;

// Dark Violet
$base-color-dark-violet: #9400D3;

// Dark Orchid
$base-color-dark-orchid: #9932CC;

// Dark Magenta
$base-color-dark-magenta: #8B008B;

// Purple
$base-color-purple: #800080;

// Rebecca Purple
$base-color-rebecca-purple: #663399;

// Indigo
$base-color-indigo: #4B0082;

// Medium State Blue
$base-color-medium-state-blue: #7B68EE;

// State Blue
$base-color-state-blue: #6A5ACD;

// Dark State Blue
$base-color-dark-state-blue: #483D8B;
