// Oranges

// Coral
$base-color-coral: #ff7f50;

// Tomato
$base-color-tomato: #ff6347;

// Orange Red
$base-color-orange-red: #ff4500;

// Dark Orange
$base-color-dark-orange: #ff8c00;

// Orange
$base-color-orange: #ffa500;
