// Whites

// White
$base-color-white: #fff;

// Snow
$base-color-snow: #fffafa;

// Honeydew
$base-color-honeydew: #f0fff0;

// Mint Cream
$base-color-mint-cream: #f5fffa;

// Azure
$base-color-azure: #f0ffff;

// Alice Blue
$base-color-alice-blue: #f0f8ff;

// Ghost White
$base-color-ghost-white: #f8f8ff;

// White Smoke
$base-color-white-smoke: #f5f5f5;

// Seashell
$base-color-seashell: #fff5ee;

// Beige
$base-color-beige: #f5f5dc;

// Old Lace
$base-color-old-lace: #fdf5e6;

// Floral White
$base-color-floral-white: #fffaf0;

// Ivory
$base-color-ivory: #fffff0;

// Antique White
$base-color-antique-white: #faebd7;

// Linen
$base-color-linen: #faf0e6;

// Lavender Brush
$base-color-lavender-brush: #fff0f5;

// Misty Rose
$base-color-misty-rose: #ffe4e1;
