// Oranges

// Coral
$base-color-coral: #FF7F50;

// Tomato
$base-color-tomato: #FF6347;

// Orange Red
$base-color-orange-red: #FF4500;

// Dark Orange
$base-color-dark-orange: #FF8C00;

// Orange
$base-color-orange: #FFA500;
