// Reds

// Indian Red
$base-color-indian-red: #CD5C5C;

// Light Coral
$base-color-light-coral: #F08080;

// Salmon
$base-color-salmon: #FA8072;

// Dark Salmon
$base-color-dark-salmon: #E9967A;

// Light Salmon
$base-color-light-salmon: #FFA07A;

// Crimson
$base-color-crimson: #DC143C;

// Red
$base-color-red: #FF0000;

// Fire Brick
$base-color-fire-brick: #B22222;

// Dark Red
$base-color-dark-red: #8B0000;
