// Greys

// Grainsboro
$base-color-grainsboro: #dcdcdc;

// Light Gray
$base-color-light-gray: #d3d3d3;

// Light Grey
$base-color-light-grey: #d3d3d3;

// Silver
$base-color-silver: #c0c0c0;

// Dark Gray
$base-color-dark-gray: #a9a9a9;

// Dark Grey
$base-color-dark-grey: #a9a9a9;

// Gray
$base-color-gray: #808080;

// Grey
$base-color-grey: #808080;

// Light Slate Gray
$base-color-light-slate-gray: #789;

// Light Slate Grey
$base-color-light-slate-grey: #789;

// Slate Gray
$base-color-slate-gray: #708090;

// Slate Grey
$base-color-slate-grey: #708090;

// Dark Slate Gray
$base-color-dark-slate-gray: #2f4f4f;

// Dark Slate Grey
$base-color-dark-slate-grey: #2f4f4f;

// Black
$base-color-black: #000;
