// Browns

// Cornsilk
$base-color-cornsilk: #FFF8DC;

// Blanched Almond
$base-color-blanched-almond: #FFEBCD;

// Bisque
$base-color-bisque: #FFE4C4;

// Navajo White
$base-color-navajo-white: #FFDEAD;

// Wheat
$base-color-wheat: #F5DEB3;

// Burly Wood
$base-color-burly-wood: #DeB887;

// Tan
$base-color-tan: #D2B48C;

// Rosy Brown
$base-color-rosy-brown: #BC8F8F;

// Sandy Brown
$base-color-sandy-brown: #F4A460;

// Goldenrod
$base-color-goldenrod: #DAA520;

// Dark Goldenrod
$base-color-dark-goldenrod: #B8860B;

// Peru
$base-color-peru: #CD853F;

// Chocolate
$base-color-chocolate: #D2691E;

// Saddle Brown
$base-color-saddle-brown: #8B4513;

// Sienna
$base-color-sienna: #A0522D;

// Brown
$base-color-brown: #A52A2A;

// Maroon
$base-color-maroon: #800000;
