@import '../../../datas/Colors/Colors.scss';

.actual-name-day {
  background-color: $base-color-calendar-background;
  font-weight: 600;
  color: $base-color-light-coral;
  padding: 5px 13px;
  margin: 4px 6px;
  border: 1px solid dark($base-color-calendar-background, 15%);
  border-radius: 15px;
}
