@import '../../../datas/Colors/Colors.scss';

$background-color: #f9f9f9;

.calendar-holiday-item {
  width: 80%;
  background-color: $background-color;
  font-weight: 600;
  color: $base-color-light-coral;
  padding: 7px 16px;
  margin: 4px 6px;
  border: 1px solid dark($background-color, 15%);
  border-radius: 15px;
}
